.pro_70 {
  position: relative;
  top: 0px;
  left: 0px;
  height: 7px;
  border-radius: 5px;
  background: #023E73;
  z-index: 15;
}
.pro_34 {
  position: relative;
  top: 0px;
  left: 0px;
  height: 7px;
  border-radius: 5px;
  background: #023E73;
  z-index: 15;
}

.aparece1 {
  /* opacity: 1; */
  animation-name: apa1;
  animation-duration: 3.8s;
  animation-fill-mode: forwards;
}
.desaparece1 {
  /* opacity: 1; */
  animation-name: des1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes apa1 {
  from {
    width: 0px;
  }
  to {
    width: 70%;
  }
}
@keyframes des1 {
  from {
    width: 70%;
  }
  to {
    width: 0px;
  }
}

.aparece2 {
  /* opacity: 1; */
  animation-name: apa2;
  animation-duration: 3.8s;
  animation-fill-mode: forwards;
}
.desaparece2 {
  /* opacity: 1; */
  animation-name: des2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes apa2 {
  from {
    width: 0px;
  }
  to {
    width: 34%;
  }
}
@keyframes des2 {
  from {
    width: 34%;
  }
  to {
    width: 0px;
  }
}
